<div class="card border-primary mb-3 "  style="align-content: center">
    <div class="card-header">Puntos para realizar el trabajo de grado</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Cotización de cada punto del trabajo de grado</h5>
    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let punto of listarPuntoTrabajoDeGrado | async">
                <td>{{punto.id}}</td>
                <td>{{punto.nombre}}</td>
                <td>{{punto.valor}}</td>
                <td><input #checkvalor type="checkbox" value="punto.valor" (change) ="realizarCotizacion($event,punto.valor)"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="col-sm-4" style="margin: auto; margin-bottom: 1%;">
        <button class="btn btn-success" (click)="notificarValorCotizacion.emit(valor)">Calcular Cotización</button>
    </div>
    
</div>

