<ng-template #actualizarTrabajoDeGrado let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Actualizar Trabajo de Grado</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
              <label class="col-form-label col-sm-2" for ="nombre">Nombre:</label>
              <div class="form-group row">
                <input type="text" class="form-control" [(ngModel)]="trabajoDeGrado.nombre" name="nombre" >
              </div>
            </div>
      
            <div class="form-group row">
              <label class="col-form-label col-sm-2"  for ="descripcion">Descripcion:</label>
              <div class="form-group row">
                <input type="text" class="form-control" [(ngModel)]="trabajoDeGrado.descripcion" name="descripcion"  >
              </div>
            </div>
            <br>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Update click')">Actualizar</button>
    </div>
</ng-template>

<!-- Update trabajo de grado part-->
<div class="card border-dark mb-3" >
    <div class="card-header">Trabajos de grado del usuario </div>
    <div class="card-body text-dark">
      <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>descripcion</th>
                <th>Estado</th>
                <th>valor</th>
                <th>Fecha de Confirmacion</th>
                <th>Acción</th>
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let trabajoDeGrado of trabajosDeGradoPorUsuario">
                
                <td>{{trabajoDeGrado.nombre}}</td>
                <td>{{trabajoDeGrado.descripcion}}</td>
                <td>{{trabajoDeGrado.estado}}</td>
                <td>{{trabajoDeGrado.valor}}</td>
                <td *ngIf="trabajoDeGrado.fechaConfirmacion; else noFechaConfirmacion">{{trabajoDeGrado.fechaConfirmacion | date : "MMM d, y h:mm:ss a"}}</td>
                <ng-template #noFechaConfirmacion>
                    <td>Sin confirmar</td>
                </ng-template>
                <td *ngIf="trabajoDeGrado.estado == 'FINALIZADO'; else actualizarTG">
                     <button type="button" class="btn btn-danger" (click)="eliminar(trabajoDeGrado.id,trabajoDeGrado.nombre)">Eliminar</button>
                </td>
                <ng-template #actualizarTG>
                    <td><button type="button" class="btn btn-info" (click)="abrirModalActualizacion(trabajoDeGrado,actualizarTrabajoDeGrado)">Actualizar</button></td>
                </ng-template>
            </tr>
        </tbody>
      </table>
    </div>
  </div>