<ng-template #citaModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Agendar Cita</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Se debe agengar una cita para dialogar acerca del trabajo de grado, por favor escoger fecha y hora.</p>
    <div class="form-group row">
      <label for="fechaHoraCita" class="col-2 col-form-label">Fecha y hora</label>
      <div class="col-10">
        <input class="form-control" type="datetime-local" id="fechaHoraCita" value = "{{fechaCitaDefault}}" [(ngModel)]="citaTrabajoDeGrado.fechaCita" >
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
  </div>
</ng-template>


<!-- TRABAJO DE GRADO PART -->
<div class="card border-primary mb-12">
  <div class="card-header">Cotización y creación trabajo de grado</div>
  <div class="card-body">
    
    <form (ngSubmit) = "crear(citaModal)">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for ="nombre">Nombre:</label>
        <div class="form-group row">
          <input type="text" class="form-control" [(ngModel)]="trabajoDeGrado.nombre" name="nombre" placeholder="Ingresar el nombre del trabajo de grado">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2"  for ="descripcion">Descripcion:</label>
        <div class="form-group row">
          <input type="text" class="form-control" [(ngModel)]="trabajoDeGrado.descripcion" name="descripcion" placeholder="Ingresar descripción">
        </div>
      </div>
      <br>

      <app-listar-puntostrabajodegrado (notificarValorCotizacion)="obtenerCotizacion($event)"></app-listar-puntostrabajodegrado>

      <div class="form-group row">
        <label class="lead col-form-label col-sm-2" >Cotización:</label>
        <div class="form-group row">
            <p type ="number" style="width: 30% ;"><strong>{{trabajoDeGrado.valor}}</strong></p>
        </div>
      </div>

      <div class="col-sm-6">
        <button mat-raised-button  role="button">Creación trabajo de grado</button>
      </div>
    
    </form>
  </div>
</div>



