<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Reserva de cita </h5>
      <p class="card-text">Para realizar el trabajo de grado se requiere agendar una cita y dialogar acerca de este</p>
      
      <div mat-dialog-content>
        
         
      
        <!-- <mat-form-field>
          <mat-label>Seleccuibar Cita:</mat-label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-form-field> -->
      </div>
      <div mat-dialog-actions>
        <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
        <!--<button mat-button [mat-dialog-close]= cdkFocusInitial>Confirmar Cita</button>-->
      </div>

    </div>
</div>
